@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply underline;
}

button {
  @apply select-none;
}

.cm-editor {
  height: 45rem;
}

.gamepad-button {
  @apply absolute h-16 w-16 rounded-full text-gray-50 border-4 border-rose-700 bg-rose-600 flex items-center justify-center
}

@layer components {
  .btn-primary {
    @apply px-2 py-1 text-sm font-semibold select-none rounded-md border-2 bg-gray-300 active:bg-gray-400 border-gray-400;
  }

  .container-box {
    @apply py-2 px-3 space-y-2 rounded-md border-2 border-gray-400;
  }

  .gamecanvas {
    @apply w-full rounded-tr-md rounded-tl-md md:rounded-md;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
}